body{
    background-color: seagreen;
}

p{
    text-align: center;
}

h3{
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

#Hzelda{
    object-fit: cover;
    height: auto;
    width: 50%;
    border: solid;
    border-radius: 20%;
}


#Retour{
    display: inline-block;
    text-align: center;
    background-color: azure;
    color: black;
    border: solid;
    border-radius: 10%;
    padding: 0.5%;
}

#Retour:hover{
    background-color: grey;
    text-decoration: underline;
    font-weight: bold;
    font-size: 90%;
}