body{
    background-color: beige;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

#Mii_logo{
    height: 400px;
    width: auto;
    background-color: white;
    border-radius: 5%;
    border: solid 5px;
    display: block;
    margin: auto;
}

#Mii{
    display: block;
    margin: auto;
}

#Matt{
    display: block;
    margin: auto;
}

#Retour{
    display: inline-block;
    text-align: center;
    background-color: azure;
    color: black;
    border: solid;
    border-radius: 10%;
    padding: 0.5%;
}

#Retour:hover{
    background-color: grey;
    text-decoration: underline;
    font-weight: bold;
    font-size: 90%;
}