body{
    background-color: rgb(68, 159, 250);
}

#logo_fzero{
    display: block;
    margin: auto;
}

img{
    display: block;
    margin: auto; 
}

h2{
    text-align: center;
    font-weight: bold
}

p{
    text-align: center;
}

#Retour{
    display: inline-block;
    text-align: center;
    background-color: azure;
    color: black;
    border: solid;
    border-radius: 10%;
    padding: 0.5%;
}

#Retour:hover{
    background-color: grey;
    text-decoration: underline;
    font-weight: bold;
    font-size: 90%;
}