body{
    background-color: beige;
}

#Retour{
    display: inline-block;
    text-align: center;
    background-color: azure;
    color: black;
    border: solid;
    border-radius: 10%;
    padding: 0.5%;
}

#Retour:hover{
    background-color: grey;
    text-decoration: underline;
    font-weight: bold;
    font-size: 90%;
}

/* Tel*/
@media (min-width: 576px){

    h2{
        text-align: center;
    }

    p{
        text-align: center;
    }

    #Mii_logo{
        height: 400px;
        width: auto;
        background-color: white;
        border-radius: 5%;
        border: solid 5px;
        display: block;
        margin: auto;
    }

    .Mii{
        display: block;
        margin: auto;
        width: 30%;
    }

    #Matt{
        display: block;
        margin: auto;
        width: 30%;

        background-color: lightcyan;
        border: solid;
        border-radius: 5%;
    }

}



/*Pc*/
@media (min-width: 1400px){
    
    h2{
        text-align: center;
    }

    p{
        text-align: center;
    }

    #Mii_logo{
        height: 400px;
        width: auto;
        background-color: white;
        border-radius: 5%;
        border: solid 5px;
        display: block;
        margin: auto;
    }

    .Mii{
        display: block;
        margin: auto;
        height: auto;
        width: 10%;
    }

    p.left{
        float: left;
        width: 50%;
    }

    .clear{
        clear: both;
    }

    p.right{
        float: right;
        width: 50%;
    }

    #Matt{
        display: block;
        margin: auto;
        
        width: 15%;

        background-color: lightcyan;
        border: solid;
        border-radius: 5%;
    }

}